@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #E7E5D9;
    font-family: "Abril Fatface", serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
}

.masthead {
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
    max-height: 3em;
}

.logo {
    width: 2em;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    display: inline-block;
    background-color: #E7E5D9;
}

.poster-info {
    display: inline-block;
}

.border-img {
    border-image: url(../images/border-image.png) 20 20 20 20 stretch stretch;
    border-width: 20px 20px 20px 20px;
}

.wanted-info {
    background-color: #87714F;
}

.crimes {
    font-family: "Georgia", serif;
}

.cowboy-hat {
    width: 5em;
}

.handcuffs {
    width: 3em;
}